.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.pagination button {
  width: 80px;
  height: 40px;
  background-color: #0d1f47;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #304ffe;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(48, 116, 255, 0.5);
}

.pagination p {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3874ff;
  border-radius: 50%;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pagination p:hover {
  background-color: #3874ff;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(48, 116, 255, 0.5);
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.selected {
  background-color: #3874ff;
  color: #fff;
  box-shadow: 0 4px 15px rgba(48, 116, 255, 0.5);
}
